<launch>
  <node name="tracker_command" pkg="pi_tracker" type="tracker_command.py" output="screen">
    <rosparam command="load" file="$(find fight_game_robot)/params/tracker_params.yaml" />
  </node>

  <node name="tracker_base_controller" pkg="pi_tracker" type="tracker_base_controller.py" output="screen">
    <rosparam command="load" file="$(find fight_game_robot)/params/tracker_params.yaml" />
  </node>

  <!-- the node crashes directly after tracking starts-->
  <!--node name="tracker_joint_controller" pkg="pi_tracker" type="tracker_joint_controller.py" output="screen">
    <rosparam command="load" file="$(find fight_game_robot)/params/tracker_params.yaml" />
  </node-->
</launch>
